html{
   background: linear-gradient(lavender,lavenderblush);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    
    
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav content sidebar'
    'footer footer footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 70px;
}

header,
footer,
main,
aside, 
nav{
    background-color: plum;
    color: lavender;
    padding:20px;
    border: white 1px solid;
}

header {
    grid-area: header;
    background-image: url(logo.gif);
}

nav{
    grid-area: nav;
    font-family: cursive;
    font-color:white;
}

#navbar li{
    display: grid;
}

li a:hover{
    background-color: ghostwhite;

}

main{
    grid-area: content;
    font-family: california;
        
}

aside{
    grid-area:sidebar;
}

.container{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span{
  font-weight: 100;
}
.container .box{
 display: grid;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .dream{
  display: grid;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: purple;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #lavenderblush;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}


}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;
}

footer{
    grid-area: footer;
    text-align: center;
}